@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
--VeryDarkMagenta: hsl(300, 43%, 22%);
--SoftPink: hsl(333, 80%, 67%);
--DarkGrayishMagenta: hsl(303, 10%, 53%);
--LightGrayishMagenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    font-family: 'Spartan', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid teal;

   
}

.user-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
    max-width: 95%;
    margin: 50px auto;
    text-align: center;
    padding: 15px;
    color: var(--VeryDarkMagenta);
}


.user-products-start p {
    border: 1px solid pink;
    font-size: 0.9rem;
    margin-top: 20px;
    color: var(--DarkGrayishMagenta);
    font-size: 0.85rem;
    line-height: 1.5;
  
}

.ratings {
    margin-top: 30px;
    width: 90%;
    color: var(--VeryDarkMagenta);
}

.icon {
    margin-bottom: 10px;
}

.review-rating {
    background-color: var(--LightGrayishMagenta);
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 10px;
    
  
   
}
.buyer-reviews-container {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: auto;
    border: 1px solid black;
   
}

.buyer-colton,
.buyer-irene,
.buyer-anne {
    background-color: var(--VeryDarkMagenta);
    border-radius: 10px;
    margin: 10px;
    padding: 20px 30px;
}

/* BUYER COLTON SECTION */

.buyer-colton {
    display: flex;
    flex-direction: column;
    
}

.buyer-colton-start {
    display: flex;
}

.buyer-colton-end {
    margin-left: 20px;
    padding-top: 5px;
}
.colton-img {
    border-radius: 50px;
    width: 40px;
}

.colton-p {
    color: var(--White);
    font-weight: 700;
    font-size: 0.8rem;

}

.colton-p-verified {
    color: var(--SoftPink);
    font-size: 0.8rem;
    padding-top: 5px;
}

.colton-review {
    color: var(--White);
    font-size: 0.8rem;
    line-height: 25px;
    padding: 15px ;
    margin-top: 10px;
}

/* BUYER IRENE SECTION */

.buyer-irene {
    display: flex;
    flex-direction: column;
}

.buyer-irene-start {
    display: flex;
}

.buyer-irene-end {
    margin-left: 20px;
    padding-top: 5px;
}

.irene-img {
    border-radius: 50px;
    width: 40px;
}

.irene-p {
    color: var(--White);
    font-weight: 700;
    font-size: 0.8rem;

}

.irene-p-verified {
    color: var(--SoftPink);
    font-size: 0.8rem;
    padding-top: 5px;
}

.irene-review {
    color: var(--White);
    font-size: 0.8rem;
    line-height: 25px;
    padding: 15px ;
    margin-top: 10px;
}


.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }