@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
--VeryDarkMagenta: hsl(300, 43%, 22%);
--SoftPink: hsl(333, 80%, 67%);
--DarkGrayishMagenta: hsl(303, 10%, 53%);
--LightGrayishMagenta: hsl(300, 24%, 96%);
--White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    font-family: 'Spartan', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
}

.user-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    margin: 50px auto;
    text-align: center;
    padding: 15px;
    color: var(--VeryDarkMagenta);
}


.user-products-start p {
    font-size: 0.9rem;
    margin-top: 20px;
    color: var(--DarkGrayishMagenta);
    font-size: 0.85rem;
    line-height: 1.5;
  
}

.ratings {
    margin-top: 30px;
    width: 100%;
    color: var(--VeryDarkMagenta);
}

.icon {
    margin-bottom: 10px;
}

.review-rating {
    background-color: var(--LightGrayishMagenta);
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 10px;
    
}

/* BUYERS SECTION */

.buyer-reviews-container {
    display: flex;
    flex-direction: column;
    max-width: 95%;
    margin: auto;
   
}

.buyer-colton,
.buyer-irene,
.buyer-anne {
    background-color: var(--VeryDarkMagenta);
    border-radius: 10px;
    margin: 10px;
    padding: 20px 30px;
}


.buyer-colton,
.buyer-irene,
.buyer-anne {
    display: flex;
    flex-direction: column;
    
}

.buyer-colton-start,
.buyer-irene-start,
.buyer-anne-start {
    display: flex;
}

.buyer-colton-end,
.buyer-irene-end,
.buyer-anne-end {
    margin-left: 20px;
    padding-top: 5px;
}
.colton-img,
.irene-img,
.anne-img {
    border-radius: 50px;
    width: 40px;
}

.colton-p,
.irene-p,
.anne-p {
    color: var(--White);
    font-weight: 700;
    font-size: 0.8rem;

}

.colton-p-verified,
.irene-p-verified,
.anne-p-verified {
    color: var(--SoftPink);
    font-size: 0.8rem;
    padding-top: 5px;
}

.colton-review,
.irene-review,
.anne-review {
    color: var(--White);
    font-size: 0.8rem;
    line-height: 25px;
    padding: 15px ;
    margin-top: 10px;
}

/* ATTRIBUTION */

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 15px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media (min-width: 800px) {
      .container {
          display: flex;
          flex-direction: row;
          background-color: pink;
      }

      .ratings {
          display: flex;
          flex-direction: column;
          border: 1px solid red;
      }
      .buyer-reviews-container {
          display: flex;
          flex-direction: row; 
          border: 1px solid black;
      }
  }